@charset "UTF-8";

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 12vh;
    background-image: linear-gradient(to left,bisque,white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}
header>h1{
    padding: 1.2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
nav#contatos{
    padding: 1.5em;
}
#contatos>a>img{
    height: 30px;
    margin: 15px;
}
#contatos>a>img:hover{
   filter: contrast(60%);
}

/* Ajustes no banner */
aside#banner {
    display: flex;
    align-items: flex-end;
    height: 30vh;              
    background-size: cover;
    background-position: center;
}

#dialogo {
    display: none;
}
#titulo-section{
  font-size: 1.8em;
}
/* Catálogo */
section#catalogo {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;     
    align-items: center;
}

section#catalogo{
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.itens{
    
    width: 200px;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    object-fit: cover;
    border: .5px solid rgba(0, 0, 0, 0.219);
}
.itens>h3{
    height: 10%;
    color: rgb(48, 47, 47);
    text-align: center;
    font-family: "Monteserrat",sans-serif;
    font-size: medium;
    font-weight: 300;
    padding: 5px;
}
.itens > img{
    height: 90%;
    width: 200px;
    object-fit: cover;
    
}
.itens>p{
    font-family: "Montserrat", sans-serif;
    font-size: small;
    padding: 5px;
    text-align: center;
}
.itens>a{
    height: 10%;
    background-color: rgb(34, 182, 34);
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    padding: 5px;
}
.itens>a:hover{
    filter: contrast(160%);
}

/* Sobre nós */
#titulo-sobre{
    margin: 10px;
}
#sobre {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#sobre > p, 
#sobre > img {
    width: 100%;
    margin: 10px 10px;
    padding: 10px;
}
#titulo-footer{
    width: 91%;
    text-align: center;
    margin: 1.5em;
    background-color: bisque;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
/* Footer */
footer{
    display: flex;
    flex-flow: column;

}
#mapa{
    width: 70vw;
    margin: auto;
    margin-bottom: 50px;
}
#nav-footer{
    background-color: beige;
    width: 70vw;
    display: flex;
    flex-flow: column;
    margin: auto;
}
#nav-footer>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: auto;
    color: black;
    font-size: larger;
    font-family:  sans-serif;
    font-weight: 100;
    padding: 10px;
}
#nav-footer>a>img{
    height: 25px;
    margin: 10px
}