@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#login{
    flex-flow: row wrap;
    font-size: x-large;
    text-align: end;
}
#login > p{
    margin: 0px;
}
#botao{
    
    text-align: center;
}
#botao >  input{
    font-size: large;
    font-weight: 500;
    height: 60px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    border-radius: 40px;
}